.App {
  text-align: center;
  display: flex;
  border: solid black;
}
.homepage{
  border: solid orange;
  margin: 5px;
}
.employeepage{
  border: solid brown;
  margin: 5px;
}
.header{
  border: solid blue;
  margin: 5px;
}
.searchbar{
  border: solid green;
  margin: 5px;
}
.employeelist{
  border: solid purple;
  margin: 5px;
}
